# Compares expected object and actual object
testfixtures

pytest
pytest-cov
coveralls

# Dependencies for flasgger + marshmallow use case
marshmallow
apispec

sphinx

# See docs/conf.py
m2r

sphinx-rtd-theme

recommonmark

# Optional - Kafka
pytest-kafka

# Moved

celery

flask-socketio

google-auth
# google-cloud-datastore>=1.4.0
google-api-python-client
firebase-admin>=3.0.0


# Optional
apache-flink

# Optional
couchdb

# Optional
# couchbase
#
# Optional
leancloud

# Optional
Flask-JSONRPC

# Optional - jsonrpc sink
jsonrpcclient[requests]
google-cloud-logging

apache-flink-statefun==3.2.0

aiokafka
pytest-asyncio==0.15.1
