# Compares expected object and actual object
testfixtures

pytest
pytest-cov
coveralls

# Dependencies for flasgger + marshmallow use case
marshmallow
apispec

sphinx

# See docs/conf.py
m2r

sphinx-rtd-theme

recommonmark

# Optional - Kafka
pytest-kafka